yelp-recsys-2013/src/out.mcmc.dim_100.ite_100.yes_grp.no_reg_fea_cat_2_bus_name
yelp-recsys-2013/src/out.mcmc.dim_100.ite_100.yes_grp.no_reg_fea_cat_2_bus_name.submit
yelp-recsys-2013/src/out.mcmc.dim_20.iter_100.no_grp.no_reg.norm_feat.bus_name
yelp-recsys-2013/src/out.mcmc.dim_20.iter_100.no_grp.no_reg.norm_feat.bus_name.submit
stumble-evergreen/data/
stumble-evergreen/submit/
stumble-evergreen/src/submit
stumble-evergreen/src/val
